
body {
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
	padding-bottom: 0;
}
.top-container {
	background-color: #fcf5ee;
	position: relative;
	padding-top: 100px;
}

hr {
	border-style: dotted none none;
	width: 8%;
	border-width: 10px;
	border-color: #ffc4d0;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

h1 {
	font-size: 5.625rem;
	margin-top: 20px;
	font-family: 'Satisfy', cursive;
	color: #ffc4d0;
}

#about {
	width: 50%;
	margin: auto;
}

#name{
	margin-bottom: 0px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: bolder;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #ffc4d0;
	font-weight: bold;
}

.bottom-cloud{
	position: absolute;
	left: 300px;
	bottom: 300px;
}

.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
}

.middle-container{
	margin-top: 3rem;
	padding: 20px;
}

.bottom-container{
	background-color: #fcf5ee;
	margin-top: 50px;
	height: 10rem;
	text-align: center;
}

.bottom-inner{
	top: 30%;
	position: relative;
}

.profile-pic{
	width: 200px;
	border-radius: 50%;
	display: inline-block;
}

.maple{
	width: 40%;
	float: left;
	margin-right: 30px;
}

.pro {
	text-decoration: underline;
}

.skill-row {
	width:50%;
	margin: 50px auto 100px auto;
	text-align: left;
	line-height: 2;
}


.gif {
	width: 30%;
	float: right;
	margin-left: 30px;
}

.contact-button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	color: #FFFFFF;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 100;
	padding: 10px;
	background-color: #FFC4D0;
	border: solid #000000 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.footer-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: bolder;
	text-decoration: none;
	padding: 1rem;

}
